.no-style {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 20%;
}

.nav-bar {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  text-align: center;
  font-family: serif;
  display: flex;
  vertical-align: auto;
}

.title {
  color: aliceblue;
  font-size: 5.4rem;
  width: 50%;
}

.buttons {
  width: 50%;
  height: 100%;
  padding: 0.6rem, 0;
}

.buttons ul {
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  list-style: none;
  margin-top: 2%;
  margin-left: 2%;
  width: 18%;
  height: 5rem;
}

.menu-button button {
  width: 100%;
  height: 100%;
  border-width: 0.4rem;
  border-color: aliceblue;
  border-radius: 1.2rem;
  color: aliceblue;
  font-size: 1.8rem;
}
