.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 1.3em;
}

.search-position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-element {
  margin: 1rem 0.6rem;
}

.form-element .search-field {
  color: rgb(21, 19, 19);
  font-size: 1.6rem;
  font-weight: bold;
  border-color: aliceblue;
  border-radius: 0.2rem;
  text-align: left;
  width: 35rem;
}

.form-element .year-field {
  color: rgb(21, 19, 19);
  font-size: 1.6rem;
  font-weight: bold;
  border-color: aliceblue;
  border-radius: 0.2rem;
  text-align: left;
  width: 16rem;
}

.button-position {
  margin: 0.8rem 0.4rem;
}

.search-button {
  background-color: rgb(21, 19, 19);
  border-color: aliceblue;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0.4rem;
  text-align: center;
}

.results-wrapper {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.book-info-wrapper {
  margin-top: 1rem;
  position: relative;
}
