.form-element {
  margin: 1rem 0.6rem;
}

.form-element input {
  color: rgb(21, 19, 19);
  font-size: 1.8rem;
}

.inp-error {
  margin-top: 2px;
}

.auth-submit-button {
  margin: auto;
  width: 10rem;
  height: 4.5rem;
}

.auth-submit-button input {
  border-width: 0.4rem;
  border-color: aliceblue;
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
}
