.registration-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 15%;
}

.registration-form {
  position: relative;
  border-radius: 2rem;
  height: 50%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
