<div class="registration-screen">
  <div class="registration-form custom-div">
    <form (ngSubmit)="register(registrationForm)" #registrationForm="ngForm">
      <div class="form-element">
        <div><label for="name">Name</label></div>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="request.name" id="name" required placeholder="Plese enter your name" />

        <div class="inp-error" *ngIf="(name.dirty || name.touched) && !name.valid">
          The name field is required
        </div>
      </div>

      <div class="form-element">
        <div><label for="email">Email</label></div>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="request.email" id="email" required placeholder="Plese enter your email"
          email />

        <div class="inp-error" *ngIf="(email.dirty || email.touched) && !email.valid">
          A valid email is required
        </div>
      </div>
      <div class="form-element">
        <div><label for="password">Password</label></div>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="request.password" id="password"
          required placeholder="******" />

        <div class="inp-error" *ngIf="(password.dirty || password.touched) && !password.valid">
          Password is required
        </div>
      </div>
      <div class="auth-submit-button">
        <input class="custom-div" type="submit" value="Register" />
      </div>
    </form>
  </div>
</div>
