<div class="clubs-listing-wrapper">
  <section class="search custom-div">
    <div class="input-group">
      <input class="search-input" [(ngModel)]="search.name" #searchName="ngModel" placeholder="Club name..." name="searchName"
        [disabled]="disableSearch" />
      <input class="search-input" [(ngModel)]="search.topic" #searchTopic="ngModel" placeholder="Topic..." name="searchTopic"
        [disabled]="disableSearch" />
    </div>

    <div class="input-group">
      <input class="form-button" value="Search" type="button" [disabled]="disableSearch" (click)="searchAll()" />
      <input *ngIf="isUser" class="form-button" [value]="extraSearchButtonValue()" type="button" (click)="extraSearch()" />
    </div>

    <div class="input-group" *ngIf="isUser">
      <input class="form-button" value="Create club" type="button" (click)="addClub()" />
    </div>
  </section>
  <section class="results custom-div">
    <div *ngIf="foundAnything()">
      <div *ngFor="let club of clubs; let i = index">
        <div class="club-row">
          <div class="club-info">
            <div class="club-top-row">
              <div>
                Name: <span class="club-row-element">{{club.name}}</span>
              </div>
              <div>
                Topic:<span class="club-row-element">{{club.topic}}</span>
              </div>
              <div>
                Description: <span class="club-description">{{club.description}}</span>
              </div>
            </div>
          </div>
          <div class="club-actions">
            <button class="details-button" (click)="details(club.id)">Details</button>
          </div>
        </div>
        <hr *ngIf="showSplitter(i)" />
      </div>
    </div>
    <div class="no-results" *ngIf="!foundAnything()">
      <span>No results found</span>
    </div>
  </section>
</div>
